<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <div class="container">
        <div class="row mt-5">
          <h2>Agregar producto con VARIAS imagenes</h2>
          <hr>
          <div class="card">
            <div class="card-body">
              <form action="" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre del producto</label>
                  <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-3">
                  <label for="images" class="form-label">Subir imágenes</label>
                  <input class="form-control" multiple type="file" id="formFile" name="images">
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <%- include('./partials/scripts.ejs') %>
  </body>

</html>